:root {
  --color-bg: #dddddd;
  --color-bg-alt: #fcfcfc;
  --color-text: #000000;
  --color-border: #999999;
  --color-accent: #ff6c00;

  --radius: 10px;
  --radius-full: 100px;
  --transition: 0.25s ease;
  --font-family: "Roboto", sans-serif;
}

body.theme--dark {
  --color-bg: #2f2f2f;
  --color-bg-alt: #1e1e1e;
  --color-text: #ffffff;
  --color-border: #444;
  --color-accent: #007bff;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  display: flex;
  height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color var(--transition), color var(--transition);
}


.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 280px;
  height: 100%;
  background-color: var(--color-bg-alt);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  border-right: 1px solid var(--color-border);
  transition: background-color var(--transition), border-color var(--transition);
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu__item {
  display: flex;
  align-items: center;
  gap: 12px;
  background: none;
  border: none;
  color: var(--color-text);
  font-size: 16px;
  padding: 12px;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background var(--transition);
}

.menu__item:hover {
  background-color: var(--color-border);
}

.menu__item--logo {
  justify-content: center;
}

.menu__icon {
  width: 24px;
  height: 24px;
}

.menu__logo {
  width: 36px;
  height: 36px;
}


.sidebar__footer {
  border-top: 1px solid var(--color-border);
  padding-top: 15px;
}

.theme-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg);
  padding: 10px 15px;
  border-radius: var(--radius);
  transition: background-color var(--transition);
}

.theme-switch__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.theme-switch__toggle {
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--color-accent);
  position: relative;
  cursor: pointer;
  transition: background var(--transition);
}

.theme-switch__toggle::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: var(--color-bg-alt);
  transition: left var(--transition), background var(--transition);
}

.theme-switch__toggle.active::after {
  left: 28px;
}


.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-direction: column;
}

.main__input {
  width: 40%;
  height: auto;
  background: var(--color-bg-alt);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-full);
  padding: 20px;
  font-size: 16px;
  resize: none;
  transition: all var(--transition);
}

.main__input:focus {
  outline: none;
  box-shadow: 0 0 5px 5px var(--color-accent);
}